.drones-deployed {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 8px;
  margin-top: 96px;
  padding: 16px;
  background-color: #1F1D1D;
  border: 1px solid #00D2FF;
  border-radius: 12px;
}

.drones-deployed h2 {
  margin: 0;
}

.drones-deployed-none {
  text-align: center;
  padding: 8px;
}

.drones-deployed-drone {
  border: 1px solid #00D2FF;
  border-radius: 12px;
  padding: 12px;
  margin: 8px 0;
}

.drones-deployed-drone button {
  padding: 8px 32px;
  margin: 8px 0;
  background-color: #00D2FF;
  color: black;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}