:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 768px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.mapboxgl-popup-close-button {
  color: black;
}

.custom-button {
  padding: 12px 32px;
  margin: 8px 0;
  background-color: #00D2FF;
  color: black;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.custom-button:hover {
  border-color: #646cff;
}
.custom-button:disabled {
  background-color: #333;
  color: white;
}
